<h1>Our pizzas! Tasty and delicious</h1>

<form action="" method="post" class="form">
    {% csrf_token %}
    
    {% for field in form %}
        <div>
            {{ field.label_tag }} {{ field }}
        </div> 
        {% if field.help_text %}
            <p class="help"> {{ field.help_text|safe }} </p>
        {% endif %}
        {% if field.errors }
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    {% endfor %}
    
    <input type="submit" class="order" value="place order">
</form>

<button class="more">add more pizza</button>
<ul>
        {% for pizza in all_pizzas %}
            <li>{{ pizza.name }}</li>
            <div>
                <mark>Ingridients</mark>
            </div>
            <ul>
                {% for topping in pizza.toppings.all %}
                    <li>{{ topping }}</li>
                {% endfor %}
            </ul>
            
        {% endfor %}
</ul>

<script>
    let pizza = document.querySelector('.pizzas')
    let order = document.querySelector('.order')
    let more = document.querySelector('.more')
    let form = document.querySelector('.form')

    more.addEventListener('click', (e) =>{
        e.preventDefault()
        p = document.createElement('p')
        l = document.createElement('label')
        l.setAttribute('for', 'id_choice')
        l.textContent = 'Chouce'
        cloned = pizza.cloneNode(true)
        p.append(l)
        p.append(cloned)
        form.insertBefore(p, order)
    })
</script>